body {
  background: linear-gradient(rgb(190, 78, 78), rgb(240, 207, 25));
  height: 100vh;
}
h2 {
  margin: 0px;
}
.nav {
  text-align: center;
}
#logo {
  display: block;
  height: 50px;
  width: 50px;
  margin: auto;
}
.container {
  position: relative;
  max-width: 70vw;
  height: 65vh;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  background: linear-gradient(rgb(186, 240, 217), rgb(18, 167, 130));
}
.message {
  background: linear-gradient(rgb(134, 167, 133), rgb(99, 201, 95));
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
.form_container {
  text-align: center;
}
#message_send {
  height: 30px;
  width: 60vw;
  border-radius: 5px;
  margin-top: 10px;
}
.send_btn {
  height: 30px;
  width: 100px;
  border: none;
  margin-top: 10px;
}
@media only screen and (max-width: 500px) {
  #logo {
    height: 25px;
    width: 25px;
    margin-bottom: 10px;
  }
  .message {
    font-size: 0.7rem;
  }
  .container {
    max-width: 80vw;
    height: 80vh;
  }
  #message_send {
    width: 55vw;
    height: 25px;
  }
  .send_btn {
    height: 30px;
    width: 80px;
  }
}
