body {
  background: linear-gradient(rgb(190, 78, 78), rgb(240, 207, 25));
  height: 100vh;
}
#logo {
  display: block;
  height: 50px;
  width: 50px;
  margin: auto;
}
.container {
  position: relative;
  max-width: 70vw;
  height: 65vh;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  background: linear-gradient(rgb(186, 240, 217), rgb(18, 167, 130));
}
.message {
  background: linear-gradient(rgb(134, 167, 133), rgb(99, 201, 95));
  padding: 5px;
  border-radius: 5px;
  margin: 3px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
.form_container {
  text-align: center;
}
#message_send {
  height: 30px;
  width: 60vw;
  border-radius: 5px;
}
.send_btn {
  height: 30px;
  width: 100px;
  border: none;
}
