body {
  background: linear-gradient(rgb(255, 255, 255), rgb(45, 45, 45));
  height: 100vh;
}
#logo {
  display: block;
  height: 50px;
  width: 50px;
  margin: auto;
}
.container {
  position: relative;
  max-width: 70vw;
  height: 65vh;
  margin: auto;
  padding: 10px;
  background: linear-gradient(rgb(255, 255, 255), rgb(19, 117, 121));
}
.message {
  background: linear-gradient(rgb(45, 45, 45), rgb(255, 255, 255));
  padding: 5px;
  border-radius: 5px;
}
.left {
  width: fit-content;
  clear: both;
}
.right {
  width: fit-content;
  float: right;
}
.form_container {
  text-align: center;
}
